/* 
FRONT-END STYLE GUIDE

--- 01 TYPOGRAPHY SYSTEM

--Fonts

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700


--Font size

- Font size:

- Font size (paragraph): 14px


--- 02 COLORS

--Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

--Neautral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)



--- 03 LAYOUT

The designs were created to the following width:

- Mobile: 375px
- Desktop: 1440px

*/
/* //////////////////////////////////////////////////////////// */
/*    GLOBAL RESET START                                         /
/* //////////////////////////////////////////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}



/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* //////////////////////////////////////////////////////////// */
/*   GLOBAL RESET END                                         */
/* //////////////////////////////////////////////////////////// */

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Fraunces', serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    max-width: 35.73rem;

}

.product-card__image-half {}

.product-card__img {
    max-height: 16.43rem;
    min-width: 100%;
    object-fit: cover;


}

.product-card__text-half {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    /* flex: 1 1 auto; */

}

.product-card__ribbon {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.3125rem;
    margin-bottom: 0.75rem;
}

.product-card__title {
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;

}

.product-card__ribbon,
s,
.product-card__description {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.product-card__description {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.64;
    margin-bottom: 1.5rem;

}

.product-card__prices {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.25rem;
}

.product-card__price {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    line-height: 1;
}

s {
    font-size: 0.8125rem;
    line-height: 1.769;
    text-decoration-line: line-through;
}

.product-card__btn {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: hsl(0, 0%, 100%);
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    background-color: hsl(158, 36%, 37%);
    padding: 1rem;
    border-radius: 10px;
}

/* ARIA */
.product-card__prices {
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}


@media (min-width: 90em) {

    .product-card {
        flex-direction: row;
        max-width: 37.5rem;


    }

    .product-card__image-half {

        flex: 1 1 50%;

    }

    .product-card__img {
        /* max-height: 16.43rem; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: none;




    }

    .product-card__text-half {
        padding: 2rem;
        flex: 1 1 50%;

    }

    .product-card__ribbon {
        margin-bottom: 1.25rem;
    }

    .product-card__title {
        margin-bottom: 1.5rem;

    }

    .product-card__description {
        margin-bottom: 1.8125rem;
    }

    .product-card__prices {
        margin-bottom: 1.875rem;
    }
}